{% extends 'base.html' %} 
<!DOCTYPE html>

<html lang="en">
{% load static %}
{% block head_title %}Viewing category {{ category.cat_name }}{% endblock %}
{% block title %}{{ category.cat_name }}{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse" style="margin-bottom: 0px">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">MyBlog</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
           <ul class="dropdown-menu">
            {% if category_list %}
                {% for category in category_list %}
                    <li><a href="{{ category.get_absolute_url }}" class="list-group-item list-group-item-action">{{ category.cat_name }}</a></li>
                {% endfor %}
            {% else %}
                <p>There are no categories.</p>
            {% endif %}
            </ul>
        </li>
      </ul>
      
         
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar" id="searchform" action="" method="get" accept-charset="utf-8" >
            <div class="form-group">
              <input class="form-control mr-sm-2" id="searchbox" name="q" type="text" placeholder="Search..." value="{{ request.GET.q }}" />
            </div>
        </form>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<body>
        <!-- Page Header -->
        <!-- Set your background image for this header on the line below. -->
        <header class="intro-header" style="background-image: url('/static/img/water.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1> {{ categories.cat_name }} </h1>
                            <hr class="small">
                            <span class="subheading">Browsing category</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    	<div class="container">
            <div class="row">
            	<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            		
            	{% if posts %}
                <ul>
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="{{ post.get_absolute_url }}">
                            <h2 class="post-title">
                                {{ post.title }}
                           	</h2>
                        </a>
                        <h3 class="post-subtitle">
                            {{ post.content|linebreaks|truncatechars:100}}
                        </h3>
                        <p class="post-meta">Posted by <a href="#">{{ post.author }}</a> on {{ post.timestamp }}</p>
                    </div>
                {% endfor %}
                </ul>
    	       {% else %}
                <p>There are no posts.</p>
    	       {% endif %}
		<!-- Pager -->
                    <ul class="pager">
                        <li class="next">
                            {% if posts.has_previous %}
                                <a href="?page={{ posts.previous_page_number }}">Previous</a>
                            {% endif %}
                            
                            {% if posts.has_next %}
                                <a href="?page={{ posts.next_page_number }}">Older Posts &rarr;</a>
                            {% endif %}

                            <span class="current">
                                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
{% endblock %}
</body>
</html>